<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram.user.UserMapper">
    <select id="selTest">
        SELECT user_id AS userId
             , created_at AS createdAt
             , updated_at AS updatedAt
             , uid, upw, nm, pic
          FROM user
          <where>
              <if test=" userId > 0 ">
                  user_id = #{userId}
              </if>
          </where>
    </select>

    <insert id="signUpPostReq" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user
        SET uid = #{uid}
        , upw = #{upw}
        , nm = #{nm}
        , pic = #{pic}

    </insert>

    <select id="signInPost">
        SELECT user_id AS userId
             , created_at AS createdAt
             , updated_at AS updatedAt
             , uid, upw, nm, pic
        FROM user
        WHERE uid = #{uid}
    </select>

    <select id="selProfileUserInfo">
        SELECT A.nm, A.pic, A.created_at AS createdAt
             , B.feedCnt, B.favCnt
             , C.following, C.follower, C.followState
          FROM user A
         INNER JOIN (
                SELECT A.writer_id
                     , COUNT(distinct A.feed_id) AS feedCnt
                     , COUNT(B.user_id) AS favCnt
                  FROM feed A
                  LEFT JOIN feed_favorite B
                    ON A.feed_id = B.feed_id
                 WHERE A.writer_id = #{profileUserId}
        ) B
         INNER JOIN (
                SELECT SUM(IF(from_user_id = #{profileUserId}, 1, 0)) AS following
                     , SUM(IF(to_user_id = #{profileUserId}, 1, 0)) AS follower
                     , IFNULL(
                        SUM(
                            IF(from_user_id = #{signedUserId} AND to_user_id = #{profileUserId}, 1, 0)
                            +
                            IF(from_user_id = #{profileUserId} AND to_user_id = #{signedUserId}, 2, 0)
                        )
                       , 0) AS followState
                FROM user_follow
        ) C
          WHERE A.user_id = #{profileUserId}
    </select>

    <update id="updProfilePic">
        UPDATE user
           SET pic = #{picName}
         WHERE user_id = #{signedUserId}
    </update>

</mapper>