<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram.userfollow.UserFollowMapper">

    <insert id="insUserFollow">
        INSERT INTO user_follow
           SET from_user_id = #{fromUserId}
             , to_user_id = #{toUserId}
    </insert>

    <select id="selUserFollowListForTest">
        SELECT from_user_id AS fromUserId
             , to_user_id AS toUserId
             , created_at AS createdAt
          FROM user_follow
        <where>
            <if test=" fromUserId > 0 ">
                from_user_id = #{fromUserId}
            </if>
            <if test=" toUserId > 0 ">
                AND to_user_id = #{toUserId}
            </if>
        </where>
        ORDER BY from_user_id, to_user_id
    </select>

    <delete id="delUserFollow">
        DELETE FROM user_follow
         WHERE from_user_id = #{fromUserId}
           AND to_user_id = #{toUserId}
    </delete>

</mapper>